.LeftSide {
  width: 238px;
  margin: 62px 32px 30px 40px;
}

.sub-heading {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.68em;
}

.about-text {
  font-size: 14px;
  text-align: justify;
  line-height: 16px;
}

.contact-info {
  margin: 25px 8px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact-info a {
  display: flex;

  svg {
    height: 20px;
    width: 20px;
    margin-right: 12px;
  }
}

.my-skills {
  margin: 20px 0;

  .skills-logos {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 12px;

    svg {
      height: 50px;
      justify-self: center;
    }
  }
}
